<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gha.niramaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gha.niramaya.Calorie_Teller"></activity>
        <activity android:name="com.gha.niramaya.Diet"
            android:logo="@drawable/doctorsymbol"
            android:theme="@style/AppThemeBar"
            />
        <activity android:name="com.gha.niramaya.BMI_Teller" />
        <activity android:name="com.gha.niramaya.TickMarkSplashScreen" />
        <activity android:name="com.gha.niramaya.YogaActivity" />
        <activity
            android:name="com.gha.niramaya.PharmacyActivity"
            android:logo="@drawable/doctorsymbol"
            android:theme="@style/AppThemeBar"
            />
        <activity android:name="com.gha.niramaya.AboutActivity" />
        <activity android:name="com.gha.niramaya.ProfileActivity" />
        <activity
            android:name="com.gha.niramaya.DoctorsActivity"
            android:logo="@drawable/doctorsymbol"
            android:theme="@style/AppThemeBar"
            />
        <activity android:name="com.gha.niramaya.DashBoardActivity" />
        <activity android:name="com.gha.niramaya.PageFrontLine" />
        <activity android:name="com.gha.niramaya.ProfileSignUp" />
        <activity android:name="com.gha.niramaya.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>